.cart__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: auto;
    width: 40rem;
    max-width: 90%;
  }
  
  .cart__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin-bottom: 1rem;
  }
  
  .cart__item h1,
  .cart__item h2 {
    margin-right: 1rem;
    font-size: 1.2rem;
    margin: 0;
  }
  
  /* Button for generating invoice and placing order */
  .altButton {
    background-color: rgb(87, 181, 225);
    color: #fff;
  }

  .altButton:hover {
    background-color: rgb(48, 129, 167);
  }
  
  .stripeButton {
    background-color: #96A6FA;
    color: #fff;
  }

  .stripeButton:hover {
    background-color: #4a5bb1;
  }

  .checkOutButton {
    background-color: #22bc49;
    color: #fff;
    border-radius: 10px;
  }

  .checkOutButton:hover {
    background-color: #0e882d;
  }